body {
  background: black;

}

.wrapper {
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
  color: #eee;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;
}

@keyframes animation {
   100%{
    background-position:0px -3000px;
  }
}

#heading{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    font-family: 'Monoton', cursive;


}
#container{
    background-color: black;
    color: blanchedalmond;
    display: flex;
    margin-bottom: 0px;
    justify-content: center;
    font-family: 'Monoton', cursive;
    font-size: 28px;


}
#dates{
    background-color: black;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    font-family: 'Monoton', cursive;
}
#author{
  background-color: black;
  color: cornflowerblue;
  padding: 38px;
  text-indent: 40px;
}
.btn{
  font-size: 2.4rem;
  padding: 2rem 0;
  width: 80rem;
  text-align: center;
  margin-bottom: 1rem;
  color:black;
  background-color: cornflowerblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

footer{
  display: flex;
  justify-content: center;
}