


#heading{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    height: 150px;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    margin-bottom: 0px;

}

.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }
  
  
  .btn{
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    color:black;
    background-color: limegreen;
    border-radius: 10px;
    float: left;
}
/* leanred transfom and wanted to added to my buttons */
.btn:hover {
    cursor: pointer; 
    transform: scale(1.18);
    transition: transform 150ms;


}
.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow:none;
    transform: none;

}
header img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(.4);
}


section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
